<div class="container">

    <div class="row" >

    </div>

    <div class="row">

        <aside class="col-md-3">
            <header class="search">Search Laptops</header>
            <div class="list-group">
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search by name..." value="">
                <h5><span class="glyphicon glyphicon-search"></span>    Advanced Search</h5>
                <form class="filter" id="facets" ng-submit="doQuery(filter)">
                     <span ng-repeat="brand in search.brands">
                      <label class="checkbox" for="{{brand}}">
                          <input ng-model-options="{getterSetter: true}" ng-model="brand.Selected" type="checkbox" name="selectedBrands[]"  value="{{brand._id}}" id="{{brand}}" />
                          {{brand._id}} ({{brand.total}})
                      </label>
                    </span>

                    <!--<label for="brand">Laptop Brand:</label>-->
                    <!--<select id="brand" ng-model="filter.brand" ng-options="item for item in search.brands">-->
                        <!--<option value="">Select Brand</option>-->
                    <!--</select>-->
                    <label for="cpu">Laptop CPU:</label>
                    <select id="cpu" ng-model="filter.att_cpu" ng-options="item for item in search.cpus">
                        <option value="">Select CPU</option>
                    </select>
                    <label for="screen">Laptop Screen Size:</label>
                    <select id="screen" ng-model="filter.att_screen_size" ng-options="item for item in search.screens">
                        <option value="">Select Size</option>
                    </select>
                    <input type="submit"/>
                </form>
                <button ng-click="clear()">Clear Search</button>
            </div>
        </aside>

        <div class="col-md-9">
            <header>
                <video class="row carousel-holder" autoplay loop poster="../assets/carusel1.jpg" muted id="bgvid">
                    <source src="../assets/banner.mp4" type="video/mp4">
                </video>
            </header>

            <section class="row">

                <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="laptop in laptops | filter:searchText">
                    <div class="thumbnail">
                        <img ng-src="{{laptop.image}}">
                        <div class="caption">
                            <h4 class="pull-right"> {{laptop.price}}$</h4>
                            <h4><a href="#">{{laptop.name}}</a>
                            </h4>

                        </div>
                    </div>
                </div>

                <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
                    <!--<div class="thumbnail">-->
                        <!--<img src="http://placehold.it/320x150" alt="">-->
                        <!--<div class="caption">-->
                            <!--<h4 class="pull-right">$94.99</h4>-->
                            <!--<h4><a href="#">Fifth Product</a>-->
                            <!--</h4>-->
                            <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                        <!--</div>-->
                        <!--<div class="ratings">-->
                            <!--<p class="pull-right">18 reviews</p>-->
                            <!--<p>-->
                                <!--<span class="glyphicon glyphicon-star"></span>-->
                                <!--<span class="glyphicon glyphicon-star"></span>-->
                                <!--<span class="glyphicon glyphicon-star"></span>-->
                                <!--<span class="glyphicon glyphicon-star"></span>-->
                                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </section>

        </div>

    </div>

</div>